.App {
  text-align: center;
}
.time {
  font-weight: bold;
  font-size: xx-large;
  width: fit-content;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 2px;
  color: #112d4e;
}

.title {
  color: #112d4e;
  margin-top: 250px;
}

.buttons {
  margin-top: 10px;
  margin-left: 10px;

  background-color: #112d4e;
  color: aliceblue;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
}

.number {
  font-size: xx-large;
  color: #112d4e;
}

.bodyClass {
  margin-top: 100px;
}
.minus {
  margin-left: 1px;
}
